.*project
.settings/
.vscode
*~
acceptance/cypress/videos/
acceptance/node_modules
acceptance/results/
playwright-report/
test-results/
.storybook-build
build
core
!cypress/tests/core/
!cypress/tests/core/**
node_modules
results
yarn.lock
/public

packages/*
!packages/kitconcept-website/
