name: 'kitconcept Site - Tag'

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:

  config:
    name: "Config: Compute values used in workflow"
    uses: ./.github/workflows/config.yml

  backend:
    name: "Backend: Build and publish Container Image"
    uses: plone/meta/.github/workflows/container-image-build-push.yml@2.x
    needs:
      - config
    permissions:
      contents: read
      packages: write
    with:
      base-tag: ${{ github.ref_name }}
      image-name-prefix: ${{ needs.config.outputs.image-name-prefix }}
      image-name-suffix: ${{ needs.config.outputs.image-name-suffix }}
      working-directory: ${{ needs.config.outputs.working-directory }}
      build-args: |
          KC_VERSION=${{ inputs.kc-version }}
      push: ${{ github.event_name != 'pull_request' }}
    secrets:
      username: ${{ github.actor }}
      password: ${{ secrets.GITHUB_TOKEN }}

  backend-beispiele:
    name: "Backend: Build and publish Beispiele Container Image"
    uses: plone/meta/.github/workflows/container-image-build-push.yml@2.x
    needs:
      - config
      - backend
    permissions:
      contents: read
      packages: write
    with:
      base-tag: ${{ github.ref_name }}
      dockerfile: Dockerfile.beispiele
      image-name-prefix: ${{ needs.config.outputs.image-name-prefix }}
      image-name-suffix: ${{ needs.config.outputs.image-name-suffix }}
      working-directory: ${{ needs.config.outputs.working-directory }}
      build-args: |
        SEED="${{ github.run_id }}${{ github.sha }}"
        IMAGE_TAG=${{ github.ref_name }}
      push: ${{ github.event_name != 'pull_request' }}
    secrets:
      username: ${{ github.actor }}
      password: ${{ secrets.GITHUB_TOKEN }}

  frontend:
    name: "Frontend: Build and publish Container Image"
    uses: plone/meta/.github/workflows/container-image-build-push.yml@2.x
    needs:
      - config
    permissions:
      contents: read
      packages: write
    with:
      base-tag: ${{ github.ref_name }}
      image-name-prefix: ${{ needs.config.outputs.image-name-prefix }}
      image-name-suffix: ${{ needs.config.outputs.image-name-suffix }}
      working-directory: './frontend'
      build-args: |
        VOLTO_VERSION=${{ needs.config.outputs.volto-version }}
      push: ${{ github.event_name != 'pull_request' }}
    secrets:
      username: ${{ github.actor }}
      password: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: "Deploy: ${{ needs.config.outputs.hostname }}"
    uses: kitconcept/meta/.github/workflows/deploy.yml@main
    needs:
      - config
      - backend-beispiele
      - frontend
    with:
        tag: ${{ github.ref_name }}
        environment: ${{ needs.config.outputs.environment }}
        stack-name: ${{ needs.config.outputs.stack-name }}
        stack-file: ${{ needs.config.outputs.stack-file }}
        registry: "ghcr.io"
        username: ${{ github.actor }}
    secrets:
        password: ${{ secrets.GITHUB_TOKEN }}
        remote-host: ${{ secrets.DEPLOY_HOST }}
        remote-port: ${{ secrets.DEPLOY_PORT }}
        remote-user: ${{ secrets.DEPLOY_USER }}
        remote-private-key: ${{ secrets.DEPLOY_SSH }}
        env-file: |
            IMAGE_NAME_PREFIX=${{ needs.config.outputs.image-name-prefix }}
            IMAGE_TAG=${{ github.ref_name }}
            STACK_NAME=${{ needs.config.outputs.stack-name }}
            STACK_PREFIX=${{ needs.config.outputs.stack-prefix }}
            HOSTNAME=${{ needs.config.outputs.hostname }}
            CERTRESOLVER=${{ needs.config.outputs.certresolver }}
    permissions:
        contents: read
        packages: write
